//Fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

$font1: "Ubuntu", sans-serif;

//Colors
$textColor: #4D6173;
$linkColor: #80A2BF;
$backgroundColor: #EBEFF2;
$ctaColor: linear-gradient(179deg, #556C80 -10%, #80A2BF 250%);
$alertColor: rgb(167, 70, 41);
$gradient1: linear-gradient(140deg, #556C80 -10%, #80A2BF 120%);
$gradientProgress: linear-gradient(to right, #e5405e 0%, #ffdb3a 45%, #3fffa2 100%);;
$shadowColor: rgba(77, 77, 77, 0.2);
$white: #ffffff;
$grey: #aeb5bb;

//Reset CSS
*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow: hidden;
}
a {
  color: $linkColor;
}

// Styles

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: $backgroundColor;
  font-family: $font1;
  font-size: 1rem;
  color: $textColor;
  padding-top: 25px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 90%;
  max-height: 520px;
  max-width: 400px;
  background: $white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px $shadowColor;
  padding: 35px 0 20px 0;
}

.logo {
  position: absolute;
  top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border: 1.5px solid $white;
  border-radius: 50%;
  background: $gradient1;
  box-shadow: 1px 1px 3px $shadowColor, inner 1px 1px 3px $shadowColor;
  font-size: 1.9rem;
  color: $white;
}

h2 {
  display: inline-block;
  text-align: left;
  width: 80%;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: 4px 0;
}

input[type=text], input[type=password] {
  appearance: none;
  outline: none;
  border: 1px solid $grey;
  border-bottom-width: 2px;
  height: 40px;
  border-radius: 6px;
  box-shadow: inner 2px 2px 5px $shadowColor;
  margin-bottom: 2px;
  padding-left: 8px;
  font-family: $font1;
  font-size: 1rem;
  transform: translateX(0);
  z-index: 100;
}

input[type=text]:focus, input[type=password]:focus {
  border: 1.5px solid $linkColor;
  border-bottom-width: 2px;
}

#progress-bar {
  width: 97%;
  height: 4px;
  margin: 0 2px;
  background: $gradientProgress;
  border-radius: 3.5px;
  font-size: 0.75rem;
  color: $white;
  text-align: center;
  font-weight: 500;
  opacity: 0;
}

.alert {
  font-size: 0.8rem;
  font-weight: 500;
  padding-left: 5px;
  color: $alertColor;
  transition: 300ms ease-in-out;
  transform: translateY(-1000%);
  opacity: 0;
  height: 0px;
}

.policy {
  display: flex;
  width: 80%;
  align-items: center;
  margin: 8px 0;
  padding-left: 2px;
  span {
    margin-left: 10px;
    font-size: 0.95rem;
    font-weight: 400;
  }
}

.btn {
  appearance: none;
  outline: none;
  height: 40px;
  width: 80%;
  border: 1px solid $white;
  border-radius: 8px;
  background: $ctaColor;
  color: $white;
  font-family: $font1;
  font-size: 1rem;
  font-weight: 500;
  margin: 5px 0;
  cursor: pointer;
}
.already-register {
  margin-top: 8px;
  width: 80%;
  font-size: 0.95rem;
}

// Error classes for JS

.error input:not(:focus) {
  color: $alertColor;
  border-color: $alertColor;
  animation: wizz 200ms linear 3;
}
.error input:not(:focus) + span {
  height: 16px;
  transform: translateY(0%);
  display: block;
  opacity: 1;
  color: $alertColor;
}

@keyframes wizz {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-5px);
  }
  66% {
    transform: translateX(5px);
  }
}